{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static '/PlanetCrypton/styles.css' %}" src="PlanetCrypton/styles.css" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">PlanetCrypton</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    
{% block head %}
{% endblock %}
</head>


<body style="background-color: rgba(14, 15, 45, 0.961); height: 600px;">

<div class="centerbody" style="width: 1300px; max-height: 600px;"> 
    
    
    <!-- TOP NAVBAR-->
    <nav class="navbar navbar-light" id="nav" >

        <div class="container-fluid" style=" height:min-content;  display: flex;  display:inline-block; height: 108px">
            <div class="row">
                <div class="col-10">
                    <div id="navcontainer1" style="flex-basis: 50%;  display:inline-block;">
                        <a class="navbar-brand" href="/home" style="width:1050px">
                            <img class="imagecrypton" src="https://i.pinimg.com/736x/18/a0/c1/18a0c1b0b13edae3ed5f0ab3befda8d2.jpg" alt="" width="100" height="70" class="align-top">
                            <h1  class="planetcrypton">Planet Crypton</h1>
                            <h3  class="planetcrypton1">Keep Up with Cryptocurrencies</h1>
                        </a>
                    </div>
                </div>
                <div class="col-1">
                    <div id="picandname" style="flex-basis: 50%;  display:inline-block;">
                        <ul class="navbar-nav" style="margin-top:60px;">
                            {% if user.is_authenticated %}
                            <li> <img id="profilepic" src="{{profilepic.profile_pic.url}}"> </li> 
                            {% endif %}
                            {% if user.is_authenticated %}
                                <li class="nav-username">
                                    <h5 class="nav-links" ><strong>{{ user }}</strong></h5>
                            </li>
                            {% endif %}
                        </ul>
                    </div> 
                </div>
                <div class="col-1">
                    <div id="navcontainer3" style="flex-basis: 50%;  display:inline-block; ">
                        <ul class="navbar-nav" style="margin-top:20px;">
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-links" href="/profile/{{user}}">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-links" href="{% url 'logout' %}">Log Out</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-links" href="{% url 'login' %}">Log In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-links" href="{% url 'register' %}">Register</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- SIDEBAR -->
            <div class="row">
                <div class="sidecontainer">
                    <div class="hamburger-menu" id="hamburger-menu">
                        <div class="line_1"></div>
                        <div class="line_2"></div>
                        <div class="line_3"></div>
                    </div>
                    <div class="sidebar" id="sidebar">
                        <ul class="nav list" id="sidebar1">
                            <li class="side-item">
                            <a class="side-link " aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="side-item">
                            <a class="side-link " aria-current="page" href="/articles">Articles</a>
                            </li>
                            <li class="side-item">
                            <a class="side-link" href="/crptoperf">Crypto Performances</a>
                            </li>
                            <li class="side-item">
                            <a class="side-link" href="/blockchain">BTC Blockchain</a>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--BLOCKCHAIN CONTENT-->
    <div class="center" id="center" style="background-color: rgb(63, 65, 118); ">
            <br>
            <div class="row">
                <div class="col-1" style="background-image: url('https://images.pexels.com/photos/5698696/pexels-photo-5698696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                </div>
                <div class="body col-10">  
                    <div class="main" style=" height:1000px; width:1200px">
                        <h1 style="margin-top: 170px; margin-left: 280px; margin-bottom: 50px; color:rgba(255, 99, 132, 0.7);">THE BTC BLOCKCHAIN LATESTS</h1>
                        <div class="blockchainlatest" style="margin-left: -100px;">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3" id="pagination">
                                    <h3>Current difficulty target as a decimal number</h3>
                                </div>
                                <div class="col-3" id="pagination">
                                    <h3>Current block height in the longest chain</h3>
                                </div>
                                <div class="col-3" id="pagination">
                                    <h3>Average number of transactions per block (100 Default)</h3>
                                </div>
                                <div class="col-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" >
                                        <div class="numcon" id="numbercontainer1"></div>
                                    </div>
                                </div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" id="numbercontainer">
                                        <div class="numcon" id="numbercontainer2"></div>
                                    </div>
                                </div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" id="numbercontainer">
                                        <div class="numcon" id="numbercontainer3"></div>
                                    </div>
                                </div>
                                <div class="col-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3" id="pagination">
                                    <h3>Current block reward in BTC</h3>
                                </div>
                                <div class="col-3" id="pagination">
                                    <h3>Total Bitcoins in circulation (delayed by up to 1 hour])</h3>
                                </div>
                                <div class="col-3" id="pagination">
                                    <h3>Probability of finding a valid block each hash attempt</h3>
                                </div>
                                <div class="col-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" id="numbercontainer">
                                        <div class="numcon" id="numbercontainer4"></div>
                                    </div>
                                </div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" id="numbercontainer">
                                        <div class="numcon" id="numbercontainer5"></div>
                                    </div>
                                </div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" id="numbercontainer">
                                        <div class="numcon" id="numbercontainer6"></div>
                                    </div>
                                </div>
                                <div class="col-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3" id="pagination">
                                    <h3>Average number of hash attempts needed to solve a block</h3>
                                </div>
                                <div class="col-3" id="pagination">
                                    <h3>Block height of the next difficulty retarget</h3>
                                </div>
                                <div class="col-3" id="pagination">
                                    <h3>Average transaction size for the past 1000 blocks. </h3>
                                </div>
                                <div class="col-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" id="numbercontainer">
                                        <div class="numcon" id="numbercontainer7"></div>
                                    </div>
                                </div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" id="numbercontainer">
                                        <div class="numcon" id="numbercontainer8"></div>
                                    </div>
                                </div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" id="numbercontainer">
                                        <div class="numcon" id="numbercontainer9"></div>
                                    </div>
                                </div>
                                <div class="col-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3" id="pagination">
                                    <h3>Average transaction value (1000 Default)</h3>
                                </div>
                                <div class="col-3" id="pagination">
                                    <h3>Average time between blocks in seconds</h3>
                                </div>
                                <div class="col-3" id="pagination">
                                    <h3>Estimated time until the next block (in seconds)</h3>
                                </div>
                                <div class="col-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" id="numbercontainer">
                                        <div class="numcon" id="numbercontainer10"></div>
                                    </div>
                                </div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" id="numbercontainer">
                                        <div class="numcon" id="numbercontainer11"></div>
                                    </div>
                                </div>
                                <div class="col-3" id="pagination">
                                    <div class="numbercontainer" id="numbercontainer">
                                        <div class="numcon" id="numbercontainer12"></div>
                                    </div>
                                </div>
                                <div class="col-0"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1" id="sideimage" style="background-image: url('https://images.pexels.com/photos/5698696/pexels-photo-5698696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                </div>
            </div>     
    </div>
    <!--FOOTER-->
    <footer>
        <div class="main-content">
            <div class="left box"> 
              <h2 id="contentf">About This Website</h2>
                <div class="contentf">
                <p> This website is used to track and monitor cryptocurrencices, and to keep updated with the latest news of the crypto market</p>
                    <div class="social">
                        <a href=""> <span class="fab fa-facebook-f"> </span></a>
                        <a href=""> <span class="fab fa-twitter"> </span></a>
                        <a href=""> <span class="fab fa-instagram"> </span></a>
                        <a href=""> <span class="fab fa-youtube"> </span></a>
                    </div>
                </div>
            </div>
            <div class="center box">
                <h2 id="contentf">Address</h2>
                <div class="contentf">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="textf">London, UK</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone-alt"></span>
                        <span class="textf">Phone Number</span>
                    </div>
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="textf">myemail@me.com</span>
                    </div>
                </div>
            </div>
            <div class="right box">
                <h2 id="contentf">Contact Me</h2>
                <div class="content">
                    <div class="textf">( Soon Available )</div>
                    <form action="#">
                        <div class="email">
                            <div class="textf">Email *</div>
                            <input type="email" required>
                        </div>
                        <div class="message">
                            <div class="textf">Message *</div>
                            <textarea name="" id="" cols="25" rows="2" required></textarea>
                        </div>
                        <div class="button">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>

</div>

<style>
    
    @media screen and (max-width: 540px) {
        

        #pagination{
            margin-top:100px;
        }
        #sideimage {
          
            min-height: 2400px;
        }

        #center {
            min-height: 2400px;
        }
    }

    #arttit{
        font-weight: bold;
        margin-left: 100px;
        margin-right: 100px;
        color: rgba(255, 99, 132, 0.7);
        text-shadow: 2px 2px #000000;
    }
    #artimg{
        width: 300px ;
        height: 300px ;
        margin-left: 200px;
        
    }
    #artsum{
        color: rgba(255, 99, 132, 0.7);   
    }
    #brake{
        color: rgba(255, 99, 132, 0.7);   
        height:10px;
    }

    footer{
        width:2000px;
        position: relative;
        margin-top: 0px;
        height: 500;
        background: rgba(14, 15, 45, 0.961);
    }
    
    .main-content{
        display: flex;
        position: static;
    }
    .main-content .box{
        flex-basis: 50%;
        padding: 10px 20px;
    }
    .box h2{
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .box .content{
       margin:20px 0 0 0;
    
    }
    .left .content p{
        text-align: justify;
    
    }
    .left .content .social{
        margin: 20px 0 0 0;
    
    }
    .left .content .social a{
        padding: 0 2px;
    
    }
    .left .content .social a span{
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        background-color: paleturquoise;
        font-size: 18px;
        border-radius: 5px;
        transition: 0.3s;
    
    }
    .left .content .social a span:hover{
       background-color: rgb(63, 65, 118);
    }  

    .textf{
        color: rgba(255, 99, 132, 0.7);
        
    }
    .contentf{
        color: rgba(255, 99, 132, 0.7);
        
    }
    #contentf{
        color: rgba(255, 99, 132, 0.7);
        
    }
    .numbercontainer{
        border-radius: 15px;
        background-color: darkgray;
        width: 220px;
        margin: auto;
        box-shadow: 0 0 11px rgba(196, 4, 4, 0.44);
        
    }
   
    .numbercontainer:hover{
        background-color: rgb(247, 66, 66);
    }
    #pagination{
       width: 300px;
    }
    .numcon{
        
        margin-left: 10px;
    }

     /* width */
    ::-webkit-scrollbar {
    width: 20px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgba(255, 99, 132, 0.7);
    border-radius: 10px;
    box-shadow: rgb(255, 0, 0);
    } 


</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="{% static 'PlanetCrypton/blockchain.js' %}"></script>   

</body>


<script>

    window.addEventListener('scroll', function(){
        let nav = document.getElementById('nav');
        nav.classList.toggle('scrolling-active', window.scrollY > 0);
    })
    
    
    const menuIcon = document.getElementById("hamburger-menu");
    const sidebar = document.getElementById("sidebar");

    menuIcon.addEventListener('click', () => {
        menuIcon.classList.toggle('change');
        sidebar.classList.toggle('change');
         
    });
   


</script>


</html>





















